body {
  font-family: Papyrus, fantasy;
  text-align: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  color: #ffff;
  background-color: #ae7b4c;
}

h1 {
  color: #8a4131;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 4px 4px #000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
}

h2 {
  color: #8a4131;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px #000;
  background-color: #0000;
  margin-top: 40px;
  margin-bottom: 400px;
  margin-right: 150px;
  margin-left: 80px;
}

h3 {
  color: #8a4131;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  background-color: #0000;
  margin: 10px;
}

.flex {
    display: flex;
}

.child {
    flex: 1;
    margin-right: 10px;
}

p {
  text-align: left;
  color: #ffc289;
  font-size: 20px;
  text-shadow: 2px 2px #000;
  background-color: #8a4131c8;
  border: 10px solid #ffc289;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 75px;
  padding: 40px;
}
